@model IEnumerable<Clinica_Veterinaria.Models.Donos>

@{
    ViewBag.Title = "Donos";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Funcionario"))
    {
        Html.ActionLink("Novo Dono", "Create");
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIF)
        </td>
        @if (User.IsInRole("Funcionario"))
        {
        <td>

            @Html.ActionLink("Editar", "Edit", new { id = item.DonoID }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.DonoID }) |
            @Html.ActionLink("Apagar", "Delete", new { id = item.DonoID })
        </td>
        }
    </tr>
}

</table>
